<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124303612776-3jv08tjnm6fcc92m9fnk45ll1ii83ggh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124303612776-3jv08tjnm6fcc92m9fnk45ll1ii83ggh</string>
	<key>API_KEY</key>
	<string>AIzaSyBTpjyimScua0eLg-zwUcmLgx-5Yfmls9w</string>
	<key>GCM_SENDER_ID</key>
	<string>124303612776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capstone.sellhouse</string>
	<key>PROJECT_ID</key>
	<string>capstone-776e0</string>
	<key>STORAGE_BUCKET</key>
	<string>capstone-776e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124303612776:ios:069b0665e4eb63a35a94dd</string>
	<key>DATABASE_URL</key>
	<string>https://capstone-776e0-default-rtdb.firebaseio.com</string>
</dict>
</plist>